@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.QrCode{
  padding: 20px;
}
#generate,#scan{
  padding: 0 10px;
  min-height: 100vh;
  height: 100%;
}
.nav-item{
  font-size: 20px !important;
}

#startbg{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-image: url("./images/qrcodebg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
}
#intro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#intro div{
  padding: 25px;
  margin: auto;
  margin-top: 43px;
  background-color: rgba(128, 128, 128, 0.377);
  text-align: justify;
  
  border-radius: 8px;
  width: 70%;
}
#intro div h3{
  font-size: 30px;
}
#intro div p{
  font-size: 20px;
}
.output{
  height: 150px;
  width: 150px;
}
.qrcode{
  margin: 15px 0;
  padding: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3),-4px 4px 4px rgba(0, 0, 0, 0.3),0 -2px 4px rgba(0, 0, 0, 0.3);
  height: 170px;
  width: 170px;
}